.ship-form{
    margin:30pxs 100px;
}
.ship-form input{
    margin-top:30px;
    padding:5px;
    border:1px solid gray;
    border-radius:5px;
    width:300px;
}
.error{
    color:red;
}
.booking-container{
    margin-top:150px;
   width: 35%;
}
.booking-container button{
    width: 300px;

    
}
.details-container{
    width: 65%;
}
    