.ship-form{
    margin:30pxs 100px;
}
.ship-form input{
    margin-top:30px;
    padding:5px;
    border:1px solid gray;
    border-radius:5px;
    width:300px;
}
.error{
    color:red;
}
.booking-container{
   position: relative;
   left: 70%;
   top: 25%;
}
.booking-container button{
    width: 300px;
    
}
    